* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
}

:root {
  --primary: #111013; /* Main purple – buttons, highlights, logo */
  --secondary: #76abae; /* Soft purple – hover effects, accents */
  --bg: #222831; /* Light purple background */
  --text: white; /* Dark text for readability */
  --boy-color: #6f9dcf; /* blue */
  --girl-color: #ff69b4; /* pink */
}

nav {
  background-color: var(--bg);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.logo h1 {
  color: var(--secondary);
  font-weight: 800;
  font-size: 2.2rem;
}
#category {
  /* background-color: #6543b4; */
  position: relative;
  cursor: pointer;
  padding: 12px;
  color: var(--text);
  font-size: 1.1rem;
}
#category:hover {
  color: var(--secondary);
}
#boy-girl {
  background-color: var(--bg);
  height: auto;
  padding-bottom: 10px;
  width: 130px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 6px;
  position: absolute;
  top: 30px;
  left: -20px;
  margin-top: 10px;
  display: none;
}
#boy-girl li a{
  font-size: 15px;
}
#category:hover #boy-girl {
  display: block;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: var(--text);
}

.links ul li {
  list-style: none;
  /* background-color: #091477; */
  padding: 5px;
}
.links ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.1rem;
}
.links ul li a:hover {
  color: var(--secondary);
}
.fa-bars {
  display: none;
}
/* .links.active{
  left: 0;
} */

@media (max-width: 768px) {
  nav {
    padding: 10px 20px;
  }

  .links ul {
    /* display: none; */
    transition: 0.8s ease;
  }
  .links.active ul {
    right: 0;
  }

  .fa-bars {
    display: block;
    font-size: 1.7rem;
    color: var(--primary);
  }
  .links ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    position: absolute;
    top: 47px;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: var(--bg);
    /* z-index: 99; */
  }
  .links ul li {
    margin-top: 10px;
  }

  .logo h1 {
    font-size: 1.4rem;
  }
  #category {
    /* background-color: #; */
    position: relative;
    cursor: pointer;
  }
  #boy-girl {
    /* background-color: transparent; */
    height: auto;
    padding-bottom: 10px;
    width: 130px;
    display: flex;
    /* gap: 1px; */
    position: absolute;
    top: 20px;
    left: -15px;
    display: none;
  }
  #category:hover #boy-girl {
    display: block;
  }
}

/* ..hero-section */

.hero-section {
  background-image: url(image/bg\ img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  max-width: 600px;
  text-align: center;
  margin-top: 3rem;
  transform: translateY(100px);
  animation: slideUp 1s ease-out forwards;
}
@keyframes slideUp {
  0% {
    opacity: 0.5;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.heading h1 {
  font-size: 2.5rem;
  color: rgb(194, 116, 13);
  /* -webkit-text-stroke: #999e9e 1px; */
  font-weight: 800;
}
.heading p {
  color: var(--text);
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 600;
}
.heading button {
  background-color: var(--bg);
  padding: 8px 50px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  color: var(--text);
  margin-top: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* phonresponsive */

@media (max-width: 425px) {
  .heading {
    max-width: 350px;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.heading button:hover {
  color: var(--secondary);
  transform: scale(1.1);
}

/* boy-section */

#boy-section {
  background-color: var(--boy-color);
  height: auto;
  /* display: grid; */
  padding: 2rem 0;
  width: 100%;
}
#boy-section h1 {
  text-align: center;
  padding-top: 1rem;
  color: var(--bg);
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
  padding: 10px 40px;
}
.box {
  border-radius: 5px;
  background-color: rgba(68, 66, 62, 0.267);
  height: auto;
  /* backdrop-filter: blur(10px); */
  transition: 0.8s;
  padding-bottom: 1rem;
  position: relative;
}

#off {
  width: 80px;
  position: absolute;
  top: 0px;
  right: -5px;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  height: 250px;
}
.product img {
  /* width: 100%; */
  height: 100%;
}
.box h3 {
  color: var(--bg);
  padding: 10px 20px;
}
.box p {
  padding: 1px 20px;
}
.box:hover {
  transform: scale(1.05);
}

/* girl section */
#girl {
  background-color: var(--girl-color);
  height: auto;
  padding-bottom: 2rem;
}

#girl-section h1 {
  text-align: center;
  padding-top: 1rem;
  color: var(--bg);
}
.boxs {
  border-radius: 5px;
  background-color: rgba(201, 174, 139, 0.37);
  height: auto;
  padding-bottom: 1rem;
  transition: 0.8s;
  position: relative;
}
#pink {
  width: 120px;
  position: absolute;
  top: -30px;
  right: -20px;
}
.boxs:hover {
  transform: scale(1.05);
}
.boxs h3 {
  color: var(--bg);
  padding: 10px 20px;
}
.boxs p {
  padding: 1px 20px;
}

@media (max-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 1.2rem;
    margin-top: 1rem;
    padding: 10px 40px;
  }
  .box {
    border-radius: 5px;
    background-color: rgba(68, 66, 62, 0.267);
    height: auto;
    transition: 0.8s;
    padding-bottom: 1rem;
    position: relative;
  }

  #off {
    width: 80px;
    position: absolute;
    top: 0px;
    right: -5px;
  }
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    height: 250px;
  }
  .product img {
    /* width: 100%; */
    height: 100%;
  }
  .box h3 {
    color: var(--bg);
    padding: 10px 20px;
  }
  .box p {
    padding: 1px 20px;
  }
}
@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
  }
}

@media (max-width: 425px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  #boy-section h1 {
    font-size: 1.6rem;
  }
}
@media (max-width: 320px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  #boy-section h1 {
    font-size: 1rem;
  }
}

/* bottom section */

.bottom-section {
  background-color: var(--bg);
  height: auto;
  padding-bottom: 0.5rem;
}
.about-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 40px;
}

.center {
  color: var(--secondary);
  text-align: center;
  padding-top: 1rem;
}

.center1 {
  color: var(--text);
  text-align: center;
  margin-top: 1rem;
}

.about-section {
  margin-top: 2rem;
}

.left {
  max-width: 600px;
}
.left h1,
p {
  color: var(--text);
}
.left p {
  line-height: 1.3;
  margin-top: 1rem;
}
.left li {
  color: var(--text);
  list-style: none;
  margin-top: 1rem;
  line-height: 1.5;
}

.right img {
  max-width: 600px;
  /* height: 400px; */
  border-radius: 30px;
}

/* about-section */

@media (max-width: 768px) {
  .left {
    max-width: 300px;
  }
  .right img {
    max-width: 350px;
    /* height: 300px;  */
    border-radius: 10px;
    /* margin-top: 1rem; */
  }
  .para {
    display: none;
  }
  .para1 {
    text-align: left;
  }
  .none {
    display: none;
  }
  .left li {
    display: none;
  }
}
@media (max-width: 425px) {
  .about-section {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .left h1 {
    padding-top: 1rem;
  }
}

@media (max-width: 375px) {
  .right img {
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .right img {
    max-width: 250px;
  }
}
/* service-section */

.service-section {
  background-color: rgba(7, 10, 29, 0.849);
  height: auto;
  text-align: center;
}
.service {
  color: var(--text);
  padding-top: 1rem;
  color: #76abae;
}
.service-text {
  font-size: 1.2rem;
}
.service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 1rem;
  gap: 1rem;
  justify-items: center;
}

.card {
  max-width: 400px;
  line-height: 1.4;
  background-color: #222831;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px grey;
  transition: 0.6s;
}
.card:hover {
  transform: scale(1.02);
}
.card h2 {
  color: var(--secondary);
}
/* phon-service reponsive */

@media (max-width: 425px) {
  .service-cards {
    grid-template-columns: 1fr;
    /* max-width: 300px; */
  }
  
}


/* footer */

.foot{
  height: auto;
  background-color: var(--bg);
  text-align: center;
  padding-top: 0.7rem;
}

.foot p{
  font-size: 1.1rem;
  margin-top: 8px;
}
.footer-links a i{
  font-size: 1.3rem;
  color: var(--secondary);
}
@media (max-width: 425px) {
 .foot p{
  font-size: 1rem;
 }
  
}
